@tailwind base;
@tailwind components;
@tailwind utilities;

/* #root{
  font-family: "Outfit", sans-serif;
} */

.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #4a5568 #2d3748; /* For Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2d3748; /* Background of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4a5568; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #2d3748; /* Color of the scrollbar thumb on hover */
}
